.animal-wrapper {
    border: solid black 1px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    min-width: 450px;
    max-width: 500px;
    background: linear-gradient(yellow, white );
}

.animal-wrapper button {
    font-size: 1em;
    border: solid black 1px;
    padding: 10;
    background: none;
    cursor: pointer;
    margin: 10px 0;
}

.animal_pic {
    height: 250px;
    width: 250px;
    justify-content: center;
}

.white_div {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px black solid;
    min-width: 160px;
}