.App {
  padding: 10px;
  text-align: center;
  background-color: rgb(156, 89, 0);
  height: 50px;
  width: 800;
  min-width: 1980px;
  min-height: 1980px;
  border: 3px;
  border-color: gray;
  border-style:ridge;
}

.ContentDiv {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 94%;
  background-color: rgb(156, 89, 0);
  padding: 10px;
  border: inherit;
  border-color: inherit;
  border-width: inherit;
}

.TopDiv {
  height: 10%;
  width: 100%;
  background-color: rgb(136, 81, 45);
  border: inherit;
  border-color: inherit;
  border-width: inherit;
}

.LeftDiv {
  margin-right: 11px;
  background-color: lightgray;
  width: 28.04%;
  height: 70%;
  border: inherit;
  border-color: inherit;
  border-width: inherit;
}

.RightDiv {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  justify-content: center;
  margin: 0 0 0 0;
  background-color: rgb(230, 145, 49);
  width: 70.7%;
  height: 70%;
  border: inherit;
  border-color: inherit;
  border-width: inherit;
}

.RDChild {
  margin: 10px;
  background-color: rgb(136, 81, 45);
  height: 35%;
  width: 95%;
}

.BottomDiv {
  width: 100%;
  height: 12%;
  border: inherit;
  border-color: inherit;
  border-width: inherit;
  background-color: rgb(86, 123, 245);
}