.animal-wrapper {
    border: solid black 1px;
    margin: 20px;
    padding: 10px;
    width: 400px;
    background: #ffffff;
}

.animal-wrapper button {
    font-size: 1em;
    border: solid black 1px;
    padding: 10;
    background: #c0c2c4;
    cursor: pointer;
    margin: 10px 0;
}