.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.wrapper h1 {
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
    align-content:flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }